.authMainContainer {
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.authContainer {
    height: 650px;
    width: 500px;
    border-radius: 5px;
    box-shadow: rgba(255, 254, 254, 0.562) 0px 5px 15px;
    background-color: black;
    position: relative;
    padding: 30px;
}

.authHeader
{
    height: 20%;
}

.authFooter
{
    display: flex;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}
.authBody
{
    height: 60%;
}

.authTitle {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
}

.headerText {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
}

.authFooterTextContainer
{
    color: white;
}

.authFooterChangeState
{
    cursor: pointer;
}
