.itemMainPage 
{
    height: calc( 100vh - 75px );
    padding: 20px;
    margin: 0px auto;
    display: flex;
    width: 1100px;
    justify-content: center;
    overflow-y: auto;
}
.itemMainPageContent
{
    width: 50%;
    height: 100%;
    overflow: overlay;
}


.itemMainPageContent::-webkit-scrollbar, .itemMainPageCommentsContainerComments::-webkit-scrollbar {
  --webkit-appearance: none;
  width: 2px;
}

.itemMainPageContent::-webkit-scrollbar-thumb, .itemMainPageCommentsContainerComments::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 20px;
}

.itemMainPageContent::-webkit-scrollbar-track, .itemMainPageCommentsContainerComments::-webkit-scrollbar-track {
  border-radius: 10px;
}

.itemMainPageContent::-webkit-scrollbar-thumb:hover, .itemMainPageCommentsContainerComments::-webkit-scrollbar-thumb:hover {
  background-color: #181818;
}

.itemMainPageContent::-webkit-scrollbar-button:increment, .itemMainPageCommentsContainerComments::-webkit-scrollbar-button {
  display: none;
}
.itemMainPageContentImage
{
    width: 255px;
    /* height: 255px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0px auto;
}

.itemMainPageContentDescription
{
    color: #fffe;
    font-size: .9rem;
}

.itemMainPageContentDescriptionName
{
    color: #fffe;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
    height: 5%;
}
.itemMainPageContentDescriptionCategory
{
    display: block;
    font-weight: 400;
    color: #fffe;
    font-size: .95rem;
    margin-bottom: 10px;
}
.itemMainPageContentDescriptionExplanation
{
    font-size: .9rem;
    font-weight: 100;
    white-space: pre-line;
}

.itemMainPageContentImageImg
{
    width: 100%;
}

.itemMainPageCommentsContainer
{
    height: 100%;
    width: 100%;
    padding-left: 30px;
}

.itemMainPageComment
{
    width: 100%;
    background: red;
}
.itemMainPageCommentsContainerComments
{
  height: 70%;
  overflow-y: overlay;
}
.itemMainPageCommentsContainerForm
{
  height: 25%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.loadingContainer
{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:1144px)
{
  .itemMainPageContentExplanation
  {
    width: 60%;
  }
  .itemMainPageContentComments
  {
    width: 40%
  }
}
@media (max-width: 1100px)
{
  .itemMainPage
  {
    display: block;
    width: 100%;
  }
  .itemMainPageContentExplanation
  {
    height: auto;
    margin: 0px auto;
  }
  .itemMainPageContentComments
  {
    width: 60%;
    margin: 0px auto;
    margin-top: 30px;
  }
}
@media (max-width: 568px)
{
  .itemMainPageContentExplanation
  {
    margin: 0px;
    width: 100%;
  }
  .itemMainPageContentComments
  {
    width: 100%;
  }
  .itemMainPageCommentsContainer
  {
    padding: 0px;
  }
}