.contelationMainPage 
{
    /* width: 100%; */
    height: calc( 100vh - 75px );
    padding: 20px;
    /* background-color:red; */
    width: 1350px;
    margin: 0px auto;
}
.constellationInfo
{
    display: flex;
    height: calc(100% - 250px);
    width: 100%;
}

.constellationImageContainer
{
    width: 70%;
    height: 100%;
    /* background-color: red; */
    padding: 15px;
}
.constellationComments
{
    height: 100%;
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}
.constellationCommentsTitle
{
    color: #fffe;
    font-size: 1rem;
    font-weight: 400;
}
.constellationHistory
{
    height: 250px;
    padding: 15px;
    /* background-color:rgba(204, 204, 204, 0.200);  */
    border-radius: 10px;
}

.constellationHistoryTitle
{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fffe;
}
.constellationHistoryText
{
    color: #ccc;
}

.constellationCommentsHeader
{
    height: 75%;
    overflow-y: overlay;
    /* overflow-y: scroll;
    overflo */
}

.constellationCommentsForm
{
    height: 25%;
}

