.searchByCategoryFormControl
{
    margin: 10px 0px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.searchByCategoryFormLabel
{
    color: #fffe;
    margin-right: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.checkbox
{
    height: 15px;
    width: 15px;
}


@media (max-width:920px)
{
    .searchByCategoryFormControl
    {
        margin: 10px 20px;
    }
}