.mainContentHeader
{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
}
.mainContentHeaderButton
{
    transition: transform 200ms ease;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #fffe;
    color: #fffe;
    cursor: pointer;
    margin-right: 30px;
    height: 35px;
    width: 85px;
}
.mainContentHeaderButton:hover
{
    transform: scale(1.1)
}

.mainContentHeaderUser
{
    color: #fffe;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}
.mainContentHeaderUser:hover
{
    background-color: rgba(204, 204, 204, 0.2);
}

.mainContentHeaderModal
{
    align-items: center;
    background-color: rgba(204, 204, 204, 0.20);
    border-radius: 5px;
    color: #fffe;
    cursor:pointer;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 75px;
    right: 100px;
    height: 50px;
    width: 200px;
}

.mainContentHeaderModal:hover
{
    background-color: #ffe;
    color: #434343;
}
.mainContentHeaderModalIcon
{
    width: 24px;
    margin: 0px 10px;
}

.mainContentHeaderModalText
{
    font-size: 15px;
}

.mainContentHeaderNavLink
{
    color: #fffe;
    margin: 0px 20px;
}


@media (max-width: 568px)
{
    .mainContentHeaderButton
    {
        margin-right: 10px;
        height: 40px;
        width: 90px;
    }
    .mainContentHeader
    {
        width: 100%;
    }
    .mainContentHeaderNavLink
    {
        font-size: .8rem;
    }
}