.mainContentSearchByCategory
{
    width: 1250px;
    height: calc( 100vh - 75px);
    margin: 0px auto;
    display: flex;
}
.searchByCategoryInputs
{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.searchByCategoryResults
{
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: overlay;
}

.searchByCategoryResultsTitle
{
    color: #fffe;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 20px;
}
.searchByCategoryForm
{
    width: 250px;
}

.applyButton
{
    transition: background .2s ease-in-out, color .2s ease-in-out;
    padding: 5px 20px;
    background-color: transparent;
    color: #FFFE;
    border: 1px solid #fffe;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 30px;
}
.applyButton:hover
{
    background-color: #fffe;
    color: #000;
}
.searchBycategoryFormTitle
{
    color: #fffe;
    margin-bottom: 20px;
}