.mainContentSearchByCategory {
    width: 1250px;
    height: calc(100vh - 75px);
    margin: 0px auto;
    display: flex;
}

.searchByCategoryInputs {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.searchByCategoryResults {
    /* height: 100%; */
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: overlay;
}

.searchByCategoryResults::-webkit-scrollbar {
    --webkit-appearance: none;
    width: 2px;
}

.searchByCategoryResults::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 20px;
}

.searchByCategoryResults::-webkit-scrollbar-track {
    border-radius: 10px;
}

.searchByCategoryResults::-webkit-scrollbar-thumb:hover {
    background-color: #181818;
}

.searchByCategoryResults::-webkit-scrollbar-button:increment {
    display: none;
}



.searchByCategoryResultsTitle {
    color: #fffe;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 20px;
}

.searchByCategoryForm {
    width: 250px;
}


.formButton
{
    transition: background .2s ease-in-out, color .2s ease-in-out;
    padding: 5px 20px;
    background-color: transparent;
    color: #FFFE;
    border: 1px solid #fffe;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 30px;
}

.applyButton {
    margin-right: 10px;
}

.applyButton:hover {
    background-color: #fffe;
    color: #000;
}

.searchBycategoryFormTitle {
    color: #fffe;
    margin-bottom: 20px;
}

@media (max-width:1425px)
{
    .mainContentSearchByCategory
    {
        width: 90%;
    }
}

@media (max-width:920px)
{
    .mainContentSearchByCategory
    {
        display: block;
        overflow-y: overlay;
    }
    .searchByCategoryInputs
    {
        height: auto;
        width: 100%;
    }
    .searchByCategoryForm
    {
        width: 100%;
    }
    .searchByCategoryForm > div 
    {
        display: flex;
        flex-wrap: wrap;
    }
    .searchByCategoryResults {
        margin-top: 30px;
        width: 100%;
    }
    /* .applyButton
    {
         margin: 0px; 
    } */
    .applyButton:hover {
        background-color: transparent;
        color: #fffe;
    }
}

@media (max-width:546px)
{
    .searchByCategoryResults {
        justify-content: center;
    }
}